body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

h1 {
    line-height: 2;
}

main {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: flex-start;
    width: 90vw;
    margin: auto;
    padding-top: 40px;
}

.grid {
    background-color: white;
    width: 60vw;
    height: 60vw;
    max-height: 700px;
    max-width: 700px;
    min-width: 300px;
    min-height: 300px;
}

.options {
    height: max-content;
    width: 180px;
    padding: 10px;
    align-self: center;
}

.drawMode{
    display: flex;
    flex-direction: column;
}

button {
    height: 80px;
    width: 120px;
    margin: 20px auto 20px auto;
}

.range {
    display: block;
    width: 80%;
    max-width: 250px;
    margin: 20px auto 0px auto;
}

@media (max-width: 961px) {
    main {
        padding: 0;
    }
    .options{
        width: 60vw;
        padding-top: 10px;
    } 

    .drawMode{
        align-content: center;
        align-items: flex-start;
        height: 160px;
        width: inherit;
        flex-wrap: wrap;
    }

    button {
        height: 60px;
        margin: 5px;
    }
}


